<extend name="Base:common" />
<block name="head">
    <link rel="stylesheet" href="/Public/Home/css/Cooper/accountList.css">
</block>
<block name="content">
    <div class="main width70">
        <!--标题-->
        <div class="loopTitle">活动列表</div>
        <!--主题内容-->
        <div class="listContent">
            <!--返回-->
            <div class="back clearfix">
                <div class="search">
                    <input type="text" placeholder="搜索活动">
                    <span class="searchBtn">
                        <img src="/Public/Home/images/search.png" alt="">
                    </span>
                </div>
                <span class="lookAll">全部活动</span>
                <a href="/Home/Cooper/index" >返回&nbsp;&nbsp;&nbsp;&nbsp;&gt;</a>
            </div>
            <!--上传活动-->
            <div class="list clearfix">
                <ul class="actList clearfix">
                    <li class="addActImg">
                        <a href="/Home/Cooper/createAct">
                            <img class="" src="/Public/Home/images/add1.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <!--搜索结果-->
            <div class="searchlist clearfix">
                <ul class="reActList clearfix">
                </ul>
            </div>
        </div>
    </div>
    <div class="brand">
        <img src="/Public/Home/images/logo_word.png" alt="" />
    </div>
    <footer>
        <p class="copyrights"> © LooperEDM 2017 沪ICP备16024766号</p>
    </footer>
</block>
<block name="script">
    <script src="/Public/Home/js/Cooper/actList.js"></script>
</block>