<extend name="Base:common" />
<block name="head">
    <title>注册完成</title>
    <link rel="stylesheet" href="/Public/Home/css/Sign/signFinish.css">
</block>
<block name="content">
    <div class="main width70">
        <div class="textContent">
            <h4>恭喜你已完成注册!资料已提交审核</h4>
            <div class="tipText">
                <p>发布官方活动需要通过Looper认证</p>
                <p>请保持联系人手机畅通</p>
                <p>我们认真负责的工作人员会尽快联系到您</p>
            </div>
            <button type="button" class="goIndex">返回首页</button>
        </div>
    </div>
    <div class="brand">
        <img src="/Public/Home/images/logo_word.png" alt="" />
    </div>
    <footer>
        <p class="copyrights"> © LooperEDM 2017 沪ICP备16024766号</p>
    </footer>
</block>
<block name="script">
    <script src="/Public/Home/js/Sign/signFinish.js"></script>
</block>
