<input type="hidden" class="upLoadType" value="one">
<!--单张图片上传-->
<div class="uoload_one dn">
    <div class="webuploader-one uppic">上传单张图片</div>

    <notempty name="picurl">
        <img class="imgshow  uppic" src="{$picurl}">
        <input type="hidden" name="picurl" value="{$picurl}"  class="picurl">
        <else />
        <input type="hidden" name="picurl" class="picurl"/>
        <img class="imgshow dn uppic" src="">
    </notempty>
</div> 

<!--多张图片上传-->
<div id="upload_box" class="uoload_many dn">
    <div id="test"></div>
    <notempty name="pictures">
        <div class="parentFileBox" style="width: 540px;">
            <ul class="fileBoxUl">
                <foreach name="pictures" item="picture">
                    <notempty name="picture">
                        <li id="fileBox_before_{$key}" class="diyUploadHover">
                            <div class="viewThumb">
                                <img class="img-many imgMany_before_{$key}" src="{$picture}">
                            </div>
                            <div class="diyCancel" onclick="moreImgDel('before_{$key}')"></div> 
                            <div class="diySuccess"></div> 
                            <div class="cropper crop_before_{$key}" onclick="moreImgCrop('before_{$key}')">Cropper<input type="hidden" name="picurls[]" value="{$picture}" class="morepic picurl_before_{$key}"></div>
                        </li>
                    </notempty>
                </foreach>
            </ul>
        </div>
        <else />
    </notempty>

</div>