<!--图片裁剪头部引用-->    
<link rel="stylesheet" type="text/css" href="/Public/static/bootstrap/css/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/Public/static/Cropper/css/normalize.css" />   
<link href="/Public/static/Cropper/css/cropper.css" rel="stylesheet">
<link href="/Public/static/Cropper/css/main.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/Cropper/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/Cropper/css/diyUpload.css">

<script src="/Public/static/js/jquery-ui-1.10.4.custom.js"></script>
<script src="/Public/static/Cropper/js/cropper.js"></script>
<script src="/Public/static/Cropper/js/main.js"></script>
<script src = "/Public/static/Cropper/js/ajaxfileupload.js" type = "text/javascript" ></script>
<script type="text/javascript" src="/Public/static/Cropper/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/Public/static/Cropper/js/diyUpload.js"></script>
<script type="text/javascript" src="/Public/static/Cropper/js/common.js"></script>
<!--<script src="/Public/static/bootstrap/js/bootstrap.min.js"></script>      -->
<script type="text/javascript">
    var up_pic_url_one = "{:U('Image/upPicOne')}";
    var up_pic_url_more = "{:U('Image/upPicMore')}";
    var imgcrop_url = "{:U('Image/imgcrop')}";
    var imgdel_url = "{:U('Image/delimg')}";
</script>
