<!--<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>图片裁剪上传示例文件</title>
        
         引入图片裁剪的头部文件 
    <include file="Image:imageHead" />


</head>
<body>
    <form action="{:U('add')}" method="post" id="cropForm">
        
         图片上传裁剪表单中间数据 
        <include file="Image:imageContent" />
        
        <button type="submit"  class="btn btn-danger btn-radius">提交</button>
    </form>
    
     图片上传裁剪裁剪框 
<include file="Image:imageFoot" />

</body>

<script type="text/javascript">
    $(function () {
        
        // 设置图片上传的数量、文件夹、裁剪的宽、裁剪的高、图片存放的文件夹 
        setImageCropper("all", 400, 400, 'banners');
    })
</script>

</html>-->
